<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link
      href="https://unpkg.com/cropperjs@1.5.12/dist/cropper.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-scroller">
      <!-- Sidebar -->
      <%- include("./layouts/aheader") %>
      <div class="container">
        <h2 class="pt-5 mt-5">Add New Category</h2>
<form id="form" action="/admin/categorymanagement/add" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name" class="pt-3">Category Name</label>
    <input type="text" id="name" name="name" class="form-control mb-3" >

    <label for="description" class="pt-3">Category Description</label>
    <input type="text" id="description" name="description" class="form-control mb-3" >

  </div>

  <p id="msg" style="color:red"></p>
  <p style="color:red"><%= errorMessage %></p>
  
  <button type="submit" class="btn btn-primary mt-3">Add Category</button>
  <a href="/admin/categorymanagement" class="btn btn-secondary mt-3">Cancel</a>
</form>
</div>
<script src="https://unpkg.com/cropperjs@1.5.12/dist/cropper.min.js"></script>

<script>

  document.getElementById("form").addEventListener("submit", (e)=>{
    if(!addCategoryValidate()){
      e.preventDefault()
    }
  })

  function addCategoryValidate(){
    let name = document.getElementById("name").value;
    let description = document.getElementById("description").value;
    let msg=document.getElementById("msg")
    let namereg=/^[a-zA-Z\s]+$/
    let desreg=/^(\b\w+\b[\s]*){10,}$/

    if(name.trim() === "" || description.trim() === ""){
      msg.innerHTML ="Please enter a name and description"
      return false;
    }else if(!namereg.test(name)){
      msg.innerHTML="Invalid name format. Only alphabets and spaces are allowed."
      return false;
    }
    else if(!desreg.test(description)){
      msg.innerHTML="Invalid description format. Description should contain at least 10 words."
      return false;
    }else{
      msg.innerHTML=""
      return true;
    }
  }
</script>
</body>
</html>
