<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Back - Luxury Shoes</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="container">
        <section class="login-section">
            <a href="/login" class="back-arrow">←</a>
            <div class="login-content">
                <p>Enter your Email to change your password</p>

                <form id="form" action="/forgotpassword" method="post">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" placeholder="name@email.com" id="email" name="email">
                    </div>

                    <p id="para" style="color: red;"></p>
                    <p style="color: red;"><%= message %></p>

                    <button id="btn" type="submit" class="login-button">Send OTP</button>
                </form>
        </section>

        <section class="image-section">
            <div class="shoe-gallery">
                <img src="images/mainshoe.jpeg" alt="Luxury Red Oxford" class="shoe-item">
            </div>
        </section>
    </div>
    
    <script>

        document.getElementById("form").addEventListener("submit", (e) => {
           
            if (!loginvalidate()) {
                e.preventDefault()
            }
        })

        function loginvalidate() {
            let email = document.getElementById("email").value
            const emailreg = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
            let msg = document.getElementById("para")
            if (email.trim() == "") {
                msg.innerHTML = "Email is required"
                return false
            } else if (!emailreg.test(email)) {
                msg.innerHTML = "Email format is not supported"
                return false
            }
            else {
                msg.innerHTML=""
                msg.style.display = "none"
                return true
            }
        }

    </script>
</body>

</html>