<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Back - Luxury Shoes</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="container">
        <section class="login-section">
            <a href="#" class="back-arrow">←</a>
            <div class="login-content">
                <p>Enter your Email to change your password</p>

                <form id="form" action="/submitpassword" method="post">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="enter the password" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" placeholder="confirm the password" id="confirmpassword" name="confirmpassword">
                    </div>

                    <p id="para" style="color: red;"></p>

                    <button id="btn" type="submit" class="login-button">Save Changes</button>
                </form>
        </section>

        <section class="image-section">
            <div class="shoe-gallery">
                <img src="images/mainshoe.jpeg" alt="Luxury Red Oxford" class="shoe-item">
            </div>
        </section>
    </div>


    <script>

        document.getElementById("form").addEventListener("submit", (e) => {
           
            if (!loginvalidate()) {
                e.preventDefault()
            }
        })

        function loginvalidate() {
            let password = document.getElementById("password").value
            let confirmpassword = document.getElementById("confirmpassword").value
            const passreg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/
            let msg = document.getElementById("para")
            if (password.trim() == "") {
                msg.innerHTML = "password field is required"
                return false
            } else if (!passreg.test(password)) {
                msg.innerHTML = "Password format is not supported"
                return false
            }else if (confirmpassword.trim() == "") {
                msg.innerHTML = "confirmpassword field is required"
                return false
            }
            else if (password!=confirmpassword) {
                msg.innerHTML = "passwords dosen't match"
                return false
            }
            else {
                msg.innerHTML= ""
                msg.style.display = "none"
                return true
            }
        }

    </script>
</body>

</html>