<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
  </head>
  <body>
    <div class="container-scroller">
      <%- include("./layouts/aheader") %>
      
      <div class="container">
        <h2 class="pt-5 mt-5">Update Category</h2>
<form id="updatecategory">
  <div class="form-group">

    <input type="hidden" id="categoryId" name="categoryId" value="<%= category.id %>">

    <label for="name" class="pt-3">Category Name</label>
    <input type="text" id="categoryName" name="categoryName" class="form-control mb-3" value="<%= category.name %>">

    <label for="description" class="pt-3">Category Description</label>
    <input type="text" id="categoryDescription" name="categoryDescription" class="form-control mb-3" value="<%= category.description %>">

  </div>
  <p id="msg" style="color: red;"></p>

  <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
  <a href="/admin/categorymanagement" class="btn btn-secondary mt-3">Cancel</a>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
      


const updateform=document.getElementById("updatecategory")
updateform.addEventListener("submit",async(e)=>{
    e.preventDefault()

    let name = document.getElementById("categoryName").value;
    let description = document.getElementById("categoryDescription").value;
    console.log(name,description)
    let msg=document.getElementById("msg")
    let namereg=/^[a-zA-Z\s]+$/

    if(name.trim() === "" || description.trim() === ""){
      msg.innerHTML ="Please enter a name and description"
      return ;
    }else if(!namereg.test(name)){
      msg.innerHTML="Invalid name format. Only alphabets and spaces are allowed."
      return ;
    }

    msg.innerHTML=""
    
    
    let categoryname=document.getElementById("categoryName").value
    let categorydescription=document.getElementById("categoryDescription").value
    let categoryid=document.querySelector("input[name='categoryId']").value
    
    try {
    const response=await fetch(`/admin/categorymanagement/update/${categoryid}`,{
        method:"PUT",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            categoryname,
            categorydescription,
            categoryid
        })
    })
    const data = await response.json();
        if (data.success) {
          Swal.fire({
            text:data.message,
            icon:"success"
          })
          setTimeout(() => {
            window.location.href = '/admin/categorymanagement';
          }, 1000);
        } else {
          Swal.fire({
            text:data.message,
            icon:"error"
          })
        }
      } catch (error) {
        console.error('Error updating category:', error);
        Swal.fire({
          text: 'An error occurred while updating the category.',
          icon: 'error',
        })
}
});
</script>
</body>
</html>
